* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'helvetica neue';
color: black;
}
html,
body {
height: 100%;
width: 100%;
}
body{
  background-color: #111;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  width: 280px;
  height: 330px ;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px soild #dadada;
  padding: 1px;


}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada ;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;



}

.center{
  background-color: white;
  
}
.center h3{
 font-size: 15px;
  font-weight: 600; 
}
.center h3 span{
  font-size: 9px;
  font-weight: 400px;
  color: #8b8b8b;
}
.center h2{
  font-size: 18px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
  
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #8b8888;
  padding-top: 15px;


}
.bottom button{
    background-color: black;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.bottom h3 {
font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}