* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
div.container {
  background-color: rgb(232, 248, 248);
  height: 300px;
  width: 300px;
  text-align: center;
  margin-top: 200px;
  padding-top: 30px;
  margin-left: 600px;
  border: 2px solid black;
  border-radius: 15px;
}
button {
  color: rgb(21, 5, 8);
  background-color: rgb(142, 209, 242);
  border-radius: 5px;
  width: 70px;
  margin-top: 120px;
  padding: 4px 6px;
  width: fit-content;
  font-size: 18px;
  
}
h2{
    font-size: 70px;
}
